@import "tailwindcss";

@font-face {
  font-family: 'Gilda Display';
  src: url('/src/assets/fonts/Gilda Display.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ES Build';
  src: url('/src/assets/fonts/es-build-neutral-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ES Build';
  src: url('/src/assets/fonts/es-build-neutral-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ES Build';
  src: url('/src/assets/fonts/es-build-neutral-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.nav-item {
  color: #6C6C73;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #2E2E38;
}